@model List<WebApp.ViewModels.Top10VM>
@{
    ViewData["Title"] = "Top 10";
    int index = 1;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Top 10</h1>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Tag</th>
                    <th>Photographers</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@index</td>
                        <td>
                            <a href="@Url.Action("Search", "Pictures", new { query = $"Tag={item.TagName?.Name}" })">@item.TagName?.Name</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Search", "Pictures", new { query = $"Photographer={item.Photographer}" })">@item.Photographer</a>
                        </td>
                    </tr>
                    index++;
                }
                </tbody>
            </table>
        </div>
    </div>
</div>